/* 
 * COLORS
 * for this example I use yelp colors
*/

$c-primary:#e81011;
// $c-primary-lighten:;
// $c-primary-darken:;

$c-secondary:#0073bb;
// $c-secondary-lighten:;
// $c-secondary-darken:;

$c-cta:#a44100;
// $c-error:;
$c-success:#3cb52e;
// $c-warning:;

$c-white:#fff;
$c-black:#333333;

