/* 
 * SPACING
 * variables used for:
 * padding
 * margin
 * 
*/

/* PADDING */
$p-none: 0;
$p-xxs: 5px;
$p-xs: 10px;
$p-s: 15px;
$p-m: 20px;
$p-l: 25px;
$p-xl:30px;
$p-xxl: 40px;

/* MARGIN */
$m-none: 0;
$m-xxs: 5px;
$m-xs: 10px;
$m-s: 15px;
$m-m: 20px;
$m-l: 25px;
$m-xl:30px;
$m-xxl: 40px;
