/* LIST styles */

.o-list__bullet {
	list-style-type: disc;
}

.o-list__decimal {
	list-style-type: decimal;
}

.o-list__upperAlpha {
	list-style-type: upper-alpha;
}

.o-list__lowerAlpha {
	list-style-type: lower-alpha;
}

.o-list__upperRoman{
	list-style-type: upper-roman;
}

.o-list__lowerRoman {
	list-style-type: lower-roman;
}