/* FAQ */
.c-brandFAQ{
	.o-brandFAQ__brand{
		padding: 40px 10px;
		&:nth-child(even){
			background: #d9dee5;
			.o-accord__toggle{
				background: #d9dee5;
			}
			.o-accord__content{
				background: #d9dee5;
			} 
		}
	}
	.o-brandFAQ__leftWrap{
		display: none;
		vertical-align: middle;
		@include breakpoint(768px){
			display: inline-block;
			width: 20%;
		}
	}
	.o-brandFAQ__rightWrap{
		display: block;
		vertical-align: middle;
		.o-imgWrap{
			display: inline-block;
			width: 25%;
			vertical-align: middle;
			img{
				width: 100%;
			}
		}
		.o-heading__h1{
			display: inline-block;
			width: 70%;
			vertical-align: middle;
		}
		@include breakpoint(768px){
			display: inline-block;
			width: 70%;
			.o-imgWrap{
				display: none;
			}
			.o-heading__h1{
				displauy: block;
				width: 100%;
			}
		}
	}

	.c-accordion{
		background: none;
	}
	.o-accord__toggle{
		text-align: left;
		color: #2b59b5;
		background: transparent;
		border-width: 1px 0 0 0;
		border-color: #696969;
		border-style: solid;
		padding: 20px 17px;
		&:last-of-type(){
			border-width: 1px 0 1px 0;
		}
	}
	.o-accord__toggleIcon{
		display: inline-block;
		background: #2b59b5;
		height: 18px;
		width: 18px;
		margin-right: 5px;
		vertical-align: middle;
		text-align: center;
		@include border-radius(25px);
		span{
			display: block;
			background: #ffffff;
			width: 10px;
			height: 2px;
			margin: 0 auto;
			position: relative;
			top: 8px;
			transition: all ease 300ms;
			@include border-radius(25px);
			&:nth-of-type(2){
				@include rotate(90deg);
				top: 6px;
			}
		}
	}
	.o-accord__active {
		.o-accord__toggleIcon{
			span:nth-of-type(2){
				@include rotate(0deg);
			}
		}
		& + .o-accord__content{
			padding-bottom: 20px;
		}
	}
	.o-accord__toggle:last-of-type(){
		&.o-accord__active{
			border-width: 1px 0 0 0;
			& + .o-accord__content{
				margin-top: 0px;
				padding-bottom:20px;
				border-width: 0 0 1px 0;
				border-style: solid;
				border-color: #696969;
			}
		} 
	}
	.o-accord__toggleText{
		display: inline-block;
		width: 90%;
		vertical-align: top;
		text-transform: none;
	}
	.o-accord__content{
		text-align: left;
		width: 90%;
		padding-left:60px;
		position: relative;
		&:before{
			content:"";
			display: inline-block;
			height: 10px;
			width: 10px;
			background: #000000;
			position: absolute;
			left: 39px;
			top: 10px;
		}
	}
}